.App {
    text-align: center;
    font-size: 35px;
    margin-top: 10%;
  }

  .App-title {
    font-size: 50px;
  }

  .Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds {
    display: inline;
    margin: 10px;
  }

  .Deadline-input {
      font-size: 25px;
      margin-inline-start: 500px;
  }

